* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box  {
    margin: 10px;
    border: 1px solid black;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: khaki;
}

.container {
    display: flex;
    flex-direction: column;
}

.container header, main {
    display: flex;
    flex-direction: row;
}

.container header .box {
    height: 90px;
    background: purple;
}

.container header .box.box1 {
    flex-grow: 7;
}

.container header .box.box2 {
    flex-grow: 1;
}


.container main .box-container {
    display: flex;
}

.container main .box-container.container1 {
    flex-direction: column;
    flex-grow: 1;
}

.container main .box-container.container1 .box {
    height: 195px;
    background: #101010;
}

.container main .box-container.container2 {
    flex-grow: 6;
}

.container main .box-container.container2 .box {
    background-color: blueviolet;
    
}

.container main .box-container.container2 .box.box1 {
    flex-grow: 5.2;
    
}

.container main .box-container.container2 .box.box2 {
    flex-grow: 1;
}


footer {
    height: 80px;
    background: green;
}



